// bower:scss
// endbower

img.logo {
    width: 80%;
    margin: 6px 10% 0 10%;
}

h4.text-under-logo {
    margin: 0 0 6px 10%;
}

.pointer {
    cursor: pointer;
    outline: none;
}

.layout-fill-height-fix {
    height: initial;
    padding: 0;
    min-height: initial;
}

md-card.widget-card {
    height: calc(100% - 16px);
}

md-card-content.widget-content {
    padding-top: 0;

    h2 {
        margin: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 6px;
    }
}

md-card-header {
    padding: 16px !important;

    &.loading {
        padding-top: 16px - 5px !important; /* progress bar height */
    }

    md-card-header-text {
        margin-left: 12px;
    }

    button.md-button {
        margin-right: 0 !important;
    }
}

.code {
    text-transform: none;
    white-space: pre;
    padding: 5px;
    background: #ececec;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.widget-line {
    margin-top: 4px;
}

.half-size {
    transform: scale(0.5);
    height: 35px !important;
}

.no-padding {
    padding: 0;
}

.scroll-box {
    overflow-x: hidden;
    overflow-y: scroll;;

    max-height: 150px;
}

md-progress-linear.top-list-item {
    position: absolute;
    top: 0;
    left: 0;
}

span.nodeid {
    overflow-x: hidden;
    max-width: 38vw;
}

@media (max-width: 600px) {
    span.nodeid {
        max-width: 78vw;
    }
}

@media (min-width: 1280px) {
    span.nodeid {
        max-width: 31.1vw;
    }
}

.central {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 1;
}
