<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="App">

<div layout="column" style="height: 100%;" md-theme="{{theme}}" ng-cloak>
    <section layout="row" flex="" ng-controller="SidenavCtrl">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md') && !closed">
            <div class="sidenav-top">
                <img src="images/logo.png" class="logo">
                <h4 class="text-next-to-logo">C-Lightning UI</h4>
            </div>
            <md-content class="sidenav-content layout-fill-height-fix" layout-fill>
                <md-list style="padding-top: 0;">
                    <md-divider class="divider-space-bottom"></md-divider>
                    <md-list-item ng-click="handleClick(entry, $event)" ng-repeat="entry in menuEntries"
                                  class="sidenav-list-item">
                        <md-icon class="list-icon">{{entry.icon}}</md-icon>
                        <p>{{entry.title}}</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <md-content flex style="position: relative;">
            <md-toolbar class="md-theme-indigo" style="position: initial;" ng-controller="ToolbarCtrl" ng-hide="hide">
                <h1 class="md-toolbar-tools">
                    <md-button hide-gt-md class="md-icon-button" style="font-size: 21px; margin-right: 2px;"
                               ng-click="openSidenav()"
                               aria-label="Open Sidenav">
                        <md-icon>menu</md-icon>
                    </md-button>
                    {{pageTitle}}
                </h1>
                <md-progress-circular md-mode="indeterminate" class="central" ng-if="loading"></md-progress-circular>
            </md-toolbar>
            <div style="position: relative;" ng-view layout-padding></div>
        </md-content>
    </section>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/clipboard/dist/clipboard.js"></script>
<script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
<script src="bower_components/js-sha256/src/sha256.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>

<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/sidenav.js"></script>
<script src="scripts/controllers/toolbar.js"></script>
<script src="scripts/controllers/my_wallet_widget.js"></script>
<script src="scripts/controllers/send_pay_widget.js"></script>
<script src="scripts/controllers/connected_peers_widget.js"></script>
<script src="scripts/controllers/dialog.js"></script>
<script src="scripts/controllers/invoices_widget.js"></script>
<script src="scripts/controllers/wallet.js"></script>
<script src="scripts/controllers/settings.js"></script>

<script src="scripts/services/resourcesgenerator.js"></script>
<script src="scripts/services/lightning.js"></script>
<script src="scripts/services/settings.js"></script>
<script src="scripts/services/unitconversionservice.js"></script>

<script src="scripts/directives/my_wallet_widget.js"></script>
<script src="scripts/directives/connected_peers_widget.js"></script>
<script src="scripts/directives/send_pay_widget.js"></script>
<script src="scripts/directives/invoices_widget.js"></script>
<script src="scripts/directives/amountunitconverter.js"></script>
<script src="browserified/bolt11.browserified.js"></script> <!-- This contains the bolt11 directive -->
<script src="scripts/directives/sha256_verify.js"></script>

<script src="scripts/directives/nodeid_validation.js"></script>
<script src="scripts/directives/route_validation.js"></script>

<script src="scripts/providers/config.js"></script>

<script src="scripts/filters/amountunitfilter.js"></script>
<!-- endbuild -->
</body>
</html>
