<md-card>
    <md-progress-linear ng-show="ctrlInvoices.loading" md-mode="indeterminate"></md-progress-linear>
    <md-card-header ng-class="ctrlInvoices.loading ? 'loading' : ''">
        <md-card-avatar>
            <md-icon class="md-avatar-icon">insert_drive_file</md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">Your invoices</span>
            <span class="md-subhead">Updated <span am-time-ago="ctrlInvoices.lastUpdate"></span></span>
        </md-card-header-text>

        <md-button class="md-icon-button" ng-click="ctrlInvoices.newInvoice();">
            <md-icon>add</md-icon>
            <md-tooltip md-delay="600" md-direction="top">
                Create a new invoice
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="ctrlInvoices.update();">
            <md-icon>refresh</md-icon>
            <md-tooltip md-delay="600" md-direction="top">
                Refresh the list of invoices
            </md-tooltip>
        </md-button>
    </md-card-header>

    <md-card-content class="widget-content no-padding scroll-box" style="min-height: 300px;" layout="column">
        <md-list id="peersList">
            <md-subheader class="md-no-sticky">Invoices list</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="invoice in ctrlInvoices.invoices">
                <md-icon class="md-avatar-icon md-avatar list-icon">{{invoice.complete ? 'assignment_turned_in' :
                    'assignment_late'}}
                </md-icon>

                <div class="md-list-item-text">
                    <h3>{{invoice.label}}</h3>
                    <p>Amount: {{invoice.msatoshi | AmountUnitFilter : 'mSAT'}}</p>
                </div>

                <md-menu class="md-secondary">
                    <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="ctrlInvoices.deleteInvoice($event, invoice.label, $index);">
                                Delete invoice
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button
                                data-clipboard-text="{{invoice.rhash}}"
                                ngclipboard-success="ctrlInvoices.copiedToClipboard()"
                                ngclipboard>
                                Copy rhash
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
