<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Balance</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <p>Your balance with <span class="code">{{nodeid}}</span> is:</p>

            <p>mSatoshis to us: {{msatoshiToUs}}</p>
            <p>mSatoshis to peer: {{msatoshiToPeer}}</p>
            <p>mSatoshis total: {{msatoshiTotal}}</p>
        </div>
    </md-dialog-content>
</md-dialog>
