<div layout-xs="column" layout-gt-xs="row" layout-fill class="layout-fill-height-fix">
    <!-- My wallet widget -->
    <md-card class="widget-card" flex-gt-xs="50" flex-xs="100" ng-controller="MyWalletWidgetCtrl as ctrl">
        <md-progress-linear ng-show="ctrl.loading" md-mode="indeterminate"></md-progress-linear>
        <md-card-header ng-class="ctrl.loading ? 'loading' : ''">
            <md-card-avatar>
                <md-icon class="md-avatar-icon">account_balance_wallet</md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Your wallet</span>
                <span class="md-subhead">Updated <span am-time-ago="ctrl.lastUpdate"></span></span>
            </md-card-header-text>
            <md-button class="md-icon-button" ng-click="ctrl.update(true);">
                <md-icon>refresh</md-icon>
                <md-tooltip md-delay="600" md-direction="top">
                    Refresh the balance and generate a new address
                </md-tooltip>
            </md-button>
        </md-card-header>

        <md-card-content class="widget-content">
            <div layout="row" layout-align="center center">
                <span flex="15">Address:</span>
                <span flex="85" class="code">{{ctrl.address}}</span>
            </div>

            <div layout="row" class="widget-line" layout-align="center center" style="margin-top: 12px;">
                <span flex="35">Confirmed balance:</span>
                <span flex="65" style="text-align: right;">{{ctrl.confirmedBalance}} XBT</span>
            </div>
            <div layout="row" class="widget-line" layout-align="center center">
                <span flex="35">Unconfirmed balance:</span>
                <span flex="65" style="text-align: right;">{{ctrl.unconfirmedBalance}} XBT</span>
            </div>
        </md-card-content>
    </md-card>
</div>
