<div layout-xs="column" layout-gt-xs="row" layout-fill class="layout-fill-height-fix">
    <!-- My wallet widget -->
    <md-card class="widget-card" flex-gt-xs="50" flex-xs="100" ng-controller="MyWalletWidgetCtrl as ctrl">
        <md-progress-linear ng-show="ctrl.loading" md-mode="indeterminate"></md-progress-linear>
        <md-card-header ng-class="ctrl.loading ? 'loading' : ''" class="pointer" ng-click="goTo('/wallet')">
            <md-card-avatar>
                <md-icon class="md-avatar-icon">account_balance_wallet</md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Your wallet</span>
                <span class="md-subhead">Updated <span am-time-ago="ctrl.lastUpdate"></span></span>
            </md-card-header-text>
            <md-button class="md-icon-button" ng-click="ctrl.update(true);">
                <md-icon>refresh</md-icon>
                <md-tooltip md-delay="600" md-direction="top">
                    Refresh the balance and generate a new address
                </md-tooltip>
            </md-button>
        </md-card-header>

        <md-card-content class="widget-content">
            <div layout="row" layout-align="center center">
                <span flex="15">Address:</span>
                <span flex="85" class="code">{{ctrl.address}}</span>
            </div>

            <div layout="row" class="widget-line" layout-align="center center" style="margin-top: 12px;">
                <span flex="35">Confirmed balance:</span>
                <span flex="65" style="text-align: right;">{{ctrl.confirmedBalance}} XBT</span>
            </div>
            <div layout="row" class="widget-line" layout-align="center center">
                <span flex="35">Unconfirmed balance:</span>
                <span flex="65" style="text-align: right;">{{ctrl.unconfirmedBalance}} XBT</span>
            </div>

            <div layout="row" class="widget-line" layout-align="center center" style="margin-top: 12px;">
                <span flex="35">Lightning funds:</span>
                <span flex="65" style="text-align: right;">{{ctrl.lightningFunds}} XBT</span>
            </div>
        </md-card-content>
    </md-card>

    <!-- Connected peers widget -->
    <md-card class="widget-card" flex-gt-xs="50" flex-xs="100" ng-controller="ConnectedPeersWidgetCtrl as ctrl">
        <md-progress-linear ng-show="ctrl.loading" md-mode="indeterminate"></md-progress-linear>
        <md-card-header ng-class="ctrl.loading ? 'loading' : ''">
            <md-card-avatar>
                <md-icon class="md-avatar-icon">people</md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Connected peers</span>
                <span class="md-subhead">Updated <span am-time-ago="ctrl.lastUpdate"></span></span>
            </md-card-header-text>
            <md-button class="md-icon-button" ng-click="ctrl.addPeer();">
                <md-icon>add</md-icon>
                <md-tooltip md-delay="600" md-direction="top">
                    Open a new channel
                </md-tooltip>
            </md-button>

            <md-button class="md-icon-button" ng-click="ctrl.update();">
                <md-icon>refresh</md-icon>
                <md-tooltip md-delay="600" md-direction="top">
                    Update the list of the connected peers
                </md-tooltip>
            </md-button>
        </md-card-header>

        <md-card-content class="widget-content no-padding scroll-box" style="min-height: 150px;">
            <md-list>
                <md-list-item ng-repeat="peer in ctrl.peers">
                    <span class="code nodeid">{{peer.peerid}}</span>
                    <md-menu class="md-secondary">
                        <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                            <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showBalance($event, peer.peerid, $index);">Show balance
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showConfirm($event, peer.peerid, $index);">Close channel
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button
                                    data-clipboard-text="{{peer.peerid}}"
                                    ngclipboard-success="ctrl.copiedToClipboard()"
                                    ngclipboard>
                                    Copy node ID
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>

<div layout-xs="column" layout-gt-xs="row" layout-fill class="layout-fill-height-fix">
    <!-- Send pay widget -->
    <md-card class="widget-card" flex-gt-xs="50" flex-xs="100" ng-controller="SendPayWidgetCtrl as ctrl">
        <md-progress-linear ng-show="ctrl.loading" md-mode="indeterminate"></md-progress-linear>
        <md-card-header ng-class="ctrl.loading ? 'loading' : ''">
            <md-card-avatar>
                <md-icon class="md-avatar-icon">send</md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Pay an invoice</span>
                <span class="md-subhead">Send a payment to a Lightning node</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-content class="widget-content">
            <form name="sendPayForm">

                <md-input-container class="md-block">
                    <label>RHash</label>
                    <input required name="rhash" ng-model="ctrl.payment.rhash">
                    <div ng-messages="sendPayForm.rhash.$error">
                        <div ng-message="required">This is required.</div>

                        <!-- TODO: validate rhash -->
                    </div>
                </md-input-container>

                <div layout="row" layout-align="space-between center">
                    <md-input-container flex="80">
                        <label>Route</label>
                        <input ng-required="!ctrl.payment.autoRoute" ng-disabled="ctrl.payment.autoRoute" name="route"
                               ng-model="ctrl.payment.route">
                        <div ng-messages="sendPayForm.route.$error">
                            <div ng-message="required">This is required.</div>

                            <!-- TODO: validate the route -->
                        </div>
                    </md-input-container>

                    <md-input-container flex="20">
                        <md-checkbox class="md-primary" ng-model="ctrl.payment.autoRoute">
                            Auto
                            <md-tooltip md-delay="600" md-direction="top">
                                Automatically calculate the route
                            </md-tooltip>
                        </md-checkbox>
                    </md-input-container>
                </div>

                <div ng-show="ctrl.payment.autoRoute">
                    <md-input-container class="md-block">
                        <label>Node</label>
                        <input ng-required="ctrl.payment.autoRoute" name="node" ng-model="ctrl.payment.nodeid">
                        <div ng-messages="sendPayForm.node.$error">
                            <div ng-message="required">This is required.</div>

                            <!-- TODO: validate nodeid -->
                        </div>
                    </md-input-container>

                    <div layout="row" layout-align="space-between center">
                        <md-input-container class="md-block" flex="50">
                            <label>Amount</label>
                            <input type="number" ng-required="ctrl.payment.autoRoute" name="amount"
                                   ng-model="ctrl.payment.amount">
                            <div ng-messages="sendPayForm.amount.$error">
                                <div ng-message="required">This is required.</div>

                                <!-- TODO: check > 0 -->
                            </div>
                        </md-input-container>


                        <md-input-container class="md-block" flex="50">
                            <label>Risk Factor</label>
                            <input type="number" ng-required="ctrl.payment.autoRoute" name="riskFactor"
                                   ng-model="ctrl.payment.riskFactor">
                            <div ng-messages="sendPayForm.riskFactor.$error">
                                <div ng-message="required">This is required.</div>

                                <!-- TODO: check >= 0 -->
                            </div>
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" layout-align="left center">
                    <md-button style="margin: 0;" class="md-raised md-primary" ng-disabled="sendPayForm.$invalid"
                               flex="1" ng-click="ctrl.submit()">Send payment
                    </md-button>
                    <md-progress-circular ng-if="ctrl.calculatingRoute" flex="98" class="half-size"
                                          style="margin-left: 15px;"></md-progress-circular>
                    <span ng-if="ctrl.calculatingRoute" flex="1">Calculating the route...</span>
                </div>
            </form>
        </md-card-content>
    </md-card>

    <!-- My invoices -->
    <md-card class="widget-card" flex-gt-xs="50" flex-xs="100" ng-controller="InvoicesWidgetCtrl as ctrl">
        <md-progress-linear ng-show="ctrl.loading" md-mode="indeterminate"></md-progress-linear>
        <md-card-header ng-class="ctrl.loading ? 'loading' : ''">
            <md-card-avatar>
                <md-icon class="md-avatar-icon">insert_drive_file</md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Your invoices</span>
                <span class="md-subhead">Updated <span am-time-ago="ctrl.lastUpdate"></span></span>
            </md-card-header-text>

            <md-button class="md-icon-button" ng-click="ctrl.newInvoice();">
                <md-icon>add</md-icon>
                <md-tooltip md-delay="600" md-direction="top">
                    Create a new invoice
                </md-tooltip>
            </md-button>

            <md-button class="md-icon-button" ng-click="ctrl.update();">
                <md-icon>refresh</md-icon>
                <md-tooltip md-delay="600" md-direction="top">
                    Refresh the list of invoices
                </md-tooltip>
            </md-button>
        </md-card-header>

        <md-card-content class="widget-content no-padding scroll-box" style="min-height: 300px;" layout="column">
            <md-list id="peersList">
                <md-subheader class="md-no-sticky">Invoices list</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="invoice in ctrl.invoices">
                    <md-icon class="md-avatar-icon md-avatar list-icon">{{invoice.complete ? 'assignment_turned_in' :
                        'assignment_late'}}
                    </md-icon>

                    <div class="md-list-item-text">
                        <h3>{{invoice.label}}</h3>
                        <p>Amount: {{invoice.msatoshi}}</p>
                    </div>

                    <md-menu class="md-secondary">
                        <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                            <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.deleteInvoice($event, invoice.label, $index);">
                                    Delete invoice
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button
                                    data-clipboard-text="{{invoice.rhash}}"
                                    ngclipboard-success="ctrl.copiedToClipboard()"
                                    ngclipboard>
                                    Copy rhash
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>
