<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Connect to a new peer</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="toggleMode()">
                <md-icon>switch_camera</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="connectPeer">
        <!-- connection-string -->
        <md-dialog-content ng-if="mode === 'connection-string'">
            <div class="md-dialog-content" style="padding-bottom: 0;">
                <md-input-container class="md-block">
                    <label>Connection String</label>
                    <input name="string" ng-model="newNode.string" required>
                    <div ng-messages="connectPeer.string.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <!-- advanced -->
        <md-dialog-content ng-if="mode === 'advanced'">
            <div class="md-dialog-content" style="padding-bottom: 0;">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs="75">
                        <label>Hostname</label>
                        <input name="hostname" ng-model="newNode.ip" required>
                        <div ng-messages="connectPeer.hostname.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex-gt-xs="25">
                        <label>Port</label>
                        <input name="port" type="number" ng-model="newNode.port" min="1" required>
                        <div ng-messages="connectPeer.port.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="min">Invalid port.</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Node ID</label>
                    <input name="nodeid" ng-model="newNode.nodeid" nodeid-validation required>
                    <div ng-messages="connectPeer.nodeid.$error">
                        <div ng-message="required">This is required.</div>

                        <div ng-message="nodeidValidation">Invalid Node ID.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-click="confirm($event);"
                       ng-disabled="connectPeer.$invalid">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
