<md-dialog ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{nodeid}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-list>
            <h4 style="margin-left: 20px;">Channels</h4>

            <md-list-item ng-repeat="channel in channels"
                          style="{{generateChannelStatusCSS(channel.msatoshi_to_us / channel.msatoshi_total)}}">
                <md-icon>{{getIcon(channel.state)}}</md-icon>
                <p>To us: {{channel.msatoshi_to_us | AmountUnitFilter : 'mSAT'}} / {{channel.msatoshi_total |
                    AmountUnitFilter : 'mSAT'}}</p>
            </md-list-item>
        </md-list>
    </md-dialog-content>
</md-dialog>
